<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>

<body>
<h2>detail.html</h2>
<p th:text="${board}"></p>
<img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt="">
<!--<button onclick="deleteBoard()">글삭제</button>-->
<!--<button onclick="updateBoard()">글수정</button>-->
<button onclick="req(1)">글삭제</button>
<button onclick="req(2)">글수정</button>
<br>
<p id="inputPosition"></p>

<!--js로 model 변수 보내기 위한 용도-->
<!--<span th:text="${board.getBoardPassword()}" id="pw" hidden></span>-->
<!--<span th:text="${board.getId()}" id="boardId" hidden></span>-->
</body>

<script th:inline="javascript"> // [[${}]] 쓰기 위해
    // const pw = document.getElementById("pw").innerHTML;
    // const boardId = document.getElementById("boardId").innerHTML;

    const deleteBoard = () => {
        document.getElementById("inputPosition").innerHTML = "<input type=\"text\" placeholder=\"비밀번호\" id=\"pwInput\"><button type=\"button\" id=\"deleteBtn\" onclick=\"pwCheck(this.id)\">확인</button>"
    }

    const updateBoard = () => {
        document.getElementById("inputPosition").innerHTML = "<input type=\"text\" placeholder=\"비밀번호\" id=\"pwInput\"><button type=\"button\" id=\"updateBtn\" onclick=\"pwCheck(this.id)\">확인</button>"

    }

    const pwCheck = (inputId) => {
        console.log(inputId);
        const pw = [[${board.boardPassword}]];
        console.log(pw);
        const boardId = [[${board.id}]];
        console.log(boardId);
        const inputPassword = document.getElementById("pwInput").value
        if (inputPassword == pw)
            if (inputId == "deleteBtn")
                location.href = "/board/delete/" + boardId;
            else
                location.href = "/board/update/" + boardId;
        else
            alert("비밀번호 불일치")
    }

    // 매개변수 활용 방법

    const req = (num) => {
        let inputTag = "<input type=\"text\" placeholder=\"비밀번호\" id=\"pwInput\"><button type=\"button\" id=\"password\" onclick=\"pwCheck2(" + num + ")\">확인</button>";
        document.getElementById("inputPosition").innerHTML = inputTag;
    }
    const pwCheck2 = (num) => {
        console.log(num);
        const pw = [[${board.boardPassword}]];
        console.log(pw);
        const boardId = [[${board.id}]];
        console.log(boardId);
        const inputPassword = document.getElementById("pwInput").value
        if (inputPassword == pw)
            if (num == 1)
                location.href = "/board/delete/" + boardId;
            else
                location.href = "/board/update/" + boardId;
        else
            alert("비밀번호 불일치")
    }
</script>
</html>