<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<h2>list.html</h2>
<table>
    <tr>
        <th>id</th>
        <th>boardTitle</th>
        <th>boardContents</th>
        <th>boardWriter</th>
        <th>boardCreatedTime</th>
        <th>boardHits</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.getId()}"></td>
        <td><a th:href="@{|/board/${board.getId()}|}" th:text="${board.getBoardTitle()}"></a></td>
        <td th:text="${board.getBoardContents()}"></td>
        <td th:text="${board.getBoardWriter()}"></td>
        <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.getBoardHits()}"></td>
    </tr>
</table>
</body>
</html>