<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.its.board.repository.BoardMapperRepository">
    <select id="boardList" resultType="com.its.board.dto.BoardMapperDTO">
        select *
        from board_table
    </select>
    <insert id="save" parameterType="com.its.board.dto.BoardMapperDTO">
        insert into board_table(board_title, board_writer, board_contents)
        values (#{board_title}, #{board_wirter}, #{board_contents})
    </insert>
</mapper>